h1 {
    background-image: url('Images/pattern.webp');
    font-size: 100px;
    color: khaki;
    text-align: center;
}

.price {
    color: blue;
}

h2 {
    color: white;
}

h1, h2 {
    font-family: Helvetica;
    font-weight: bold;
}

.brushes {
    background-color: mediumspringgreen;    
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}